<div class="container">



	<div class="jumbotron">
	  <h1 class="display-3 head">News Scraper!</h1>
	  <p class="lead summ">News coming at you in seconds!  Be sure to comment on your thoughts of each article</p>
	  <hr class="m-y-2">


	  <p class="lead summ">
	    <a class="btn btn-primary btn-lg mainbutt" href="#" role="button">Get News</a>
	  </p>

	  
	</div>

	
		  <div class="row">
		  	    <div class="col-md-6">
		  	    	{{#each article}}
		  	    	<div class="articlesMain">

					<h4>Title: {{Title}}</h4>
					<a href="{{Link}}">Full Article</a>
					</br>
					<img src="{{Photo}}">
					</br>
					<p>{{Summary}}</p>
					

			      {{!-- <h1 class="text">asdasdasdasda asd asd as das d asd as  asd as d as d asd as d as d asd as d asd as d as d</h1> --}}
			   		 </div>
			   		 {{/each}}
			    </div>

			    
		  </div>
	 

</div>