<div class="container">



	<div class="jumbotron">
	  <h1 class="display-3 head">News Scraper!</h1>
	  <p class="lead">News coming at you in seconds!  Be sure to comment on your thoughts of each article</p>
	  <hr class="m-y-2">
	  <p>It uses utility classes for typography and
	     spacing to space content out within the larger container.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Some action</a>
	  </p>
	</div>

</div>