<div class="container">



	<div class="jumbotron">
	  <h1 class="display-3 head">News Scraper!</h1>
	  <p class="lead summ">News coming at you in seconds!  Be sure to comment on your thoughts of each article</p>
	  <hr class="m-y-2">


	  <p class="lead summ">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Get News</a>
	  </p>

	  
	</div>

	
		  <div class="row">
		  	    <div class="col-md-6">
			      <h1 class="text">asdasdasdasda asd asd as das d asd as  asd as d as d asd as d as d asd as d asd as d as d</h1>
			    </div>
			    <div class="col-md-2"></div>
			    <div class="col-md-4">
			      <h1 class="text">bbbbbbbb asd as das d as d as da sd asd as asdasd asd asd as dasd as das dd asd asdas d asd asdasd as das d</h1>
			    </div>
		  </div>
	 

</div>